@model IEnumerable<GestaoEventos.Models.Local>

<div class="d-flex justify-content-between align-items-center mb-4">
    <h2 class="text-primary"> <i class="fa-solid fa-tags me-2"> </i> Lista de Locais </h2>
    <a asp-action="Create" class="btn btn-success shadow-sm">
        <i class="fa-solid fa-plus me-1"></i> Novo Local
    </a>
</div>


<div class="card shadow border-0">
    <div class="table-responsive">
        <table class="table table-hover mb-0">
            <thead class="table-dark">
                <tr>
                    <th class="ps-4">Nome do Local</th>
                    <th class="ps-4">Capacidade do Local</th>
                    <th class="text-center" style="width:200px;">Ações</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="align-middle fw-bold ps-4">@item.Nome</td>
                        <td class="align-middle fw-bold ps-4">@item.Capacidade</td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning btn-sm shadow-sm me-1">
                                <i class="fa-solid fa-pen-to-square"></i>
                            </a>

                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm shadow-sm me-1">
                                <i class="fa-solid fa-trash"></i>
                            </a>

                            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info btn-sm shadow-sm me-1">
                                <i class="fa-solid fa-file-lines"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>