@model IEnumerable<GestaoEventos.Models.Evento>

<div class="d-flex justify-content-between align-items-center mb-4">
    <h2 class="text-primary"><i class="fa-solid fa-calendar-days me-2"></i>Próximos Eventos</h2>

    @if (User.IsInRole("Admin"))
    {
    <a asp-action="Create" class="btn btn-success shadow-sm">
        <i class="fa-solid fa-plus me-1"></i> Novo Evento
    </a>
    }
</div>

<div class="card shadow border-0">
    <div class="table-responsive">
        <table class="table table-hover mb-0">
            <thead class="table-dark">
                <tr>
                    <th class="ps-4">Título</th>
                    <th>Data</th>
                    <th>Categoria</th>
                    <th>Local</th>
                    @if (User.IsInRole("Admin"))
                    {
                        <th class="text-center" style="width: 200px;">Ações</th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="align-middle fw-bold ps-4">@item.Nome</td>
                        <td class="align-middle">@item.Data.ToShortDateString()</td>
                        <td class="align-middle">
                            <span class="badge bg-info text-white shadow-sm">
                                <i class="fa-solid fa-tag me-1"></i> @item.Categoria?.Nome
                            </span>
                        </td>
                        <td class="align-middle">
                            <span class="badge bg-info text-white shadow-sm">
                                <i class="fa-solid fa-tag me-1"></i> @item.Local?.Nome
                            </span>
                        </td>
                        @if (User.IsInRole("Admin"))
                        {
                            <td class="text-center align-middle">
                                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-warning shadow-sm me-1">
                                    <i class="fa-solid fa-pen-to-square"></i>
                                </a>
                                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger shadow-sm">
                                    <i class="fa-solid fa-trash"></i>
                                </a>
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>